.lc-works__item-img img {
    width: 100%;
}

.lc-header__item { width: 33.33333333333333%; }

@media (max-width: 767px) {
	.lc-header__item { width: 100%; }
}

@media (min-width: 1240px) {
	.lc-works__item-content {
		height: 250px;
	}
}

.lc-works__item-img {
	width: 100%;
    height: 100%;
	border-radius: 50px;
}

.lc-works__item-img.no-active, .lc-works__form-btn.no-active
{
	filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: url(desaturate.svg#greyscale);
    filter: gray;
    -webkit-filter: grayscale(1);
}